---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import { getProjects } from "../../lib/projects";

// Import necessary components
const projects = await getProjects();
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Arjun Ghoshal - Projects"
  description="Cybersecurity and AI practitioner with a strong focus on Network Security, DevSecOps, and vulnerability research."
>
  <main class="w-screen h-screen flex flex-col justify-start items-start max-w-6xl mx-auto p-8 relative">
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => (
        <Project project={project} />
      ))}
    </div>
    <p class="text-lg text-neutral-200 mt-8">
      And many more....
    </p>
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg absolute top-8 right-9"
    >
      Back
    </a>
  </main>
</Layout>
